<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h1>Cart</h1>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Product ID</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in docs %}
            <tr>
                <td>{{ doc.user_id }}</td>
                <td>{{ doc.product_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
