
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style_index.css') }} " type = "text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/nav.css') }}" type = "text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/signup.css') }}" type = "text/css">
    
    
    
    
    
    
</head>
<body style="background-color: #ffffff ;">
    <!-- navbar -->
    <nav>
      <div class="logo">
        <h3><a href="retrove.html" class="logo-name">Retrove</a></h3>
      </div>
      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="products.html">Products</a></li>
        <li><a href="categories.html">Categories</a></li>
        <li><a href="contact.html">ContactUs</a></li>
        <li><a href="media.html">Media</a></li>
        <li><a href="login.html" id="login">Login</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
  <!-- navbar --> 

  <div class="container">
    <div class="card">
      <div class="card_title">
        <div class="logo">
          <h3>Retrove</h3>
        </div>
        <h1>Create Account</h1>
        <span>Already have an account? <a href="{{ url_for('signin') }}">Sign In</a></span>

      </div>
      <div class="form">
        
        <form action="/register" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Submit">
        </form>
      <div class="card_terms">
          <input type="checkbox" name="" id="terms"> <span>I have read and agree to the <a href="">Terms of Service</a></span>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/nav.js"></script>
  <script src="js/login.js"></script>
</body>
</html>